<div class="min-h-screen bg-slate-50  dark:bg-black dark:text-white">
  <header class="bg-teal-700 sticky top-0 z-10 text-white">
    <section class="max-w-4xl mx-auto p-4 flex justify-between items-center">
      <h1 class="text-3xl font-medium">
        <a href="#"> 🚀 Rockets </a>
      </h1>
      <div>
        <button id="mobile-open-button" class="text-3xl sm:hidden focus:outline-none">
          &#9776; 
        </button>
        <nav class="hidden sm:block space-x-8 text-xl " aria-label="main" >
          <a href="#rockets" class="hover:opacity-60"> Our Rocket</a>
          <a href="#Testimonials" class="hover:opacity-60"> Testimonials</a>
          <a href="#ContactUs" class="hover:opacity-60"> Contact Us</a>
        </nav>
      </div>
    </section>
  </header>
  <main class="max-w-4xl mx-auto mt--8 p-0">
    <section id="Hero" class="flex flex-col-reverse justify-center sm:flex-row p-1 items-center gap-8 mb-12">
      <article class="sm:w-1/2">
        <h2 class="max-w-md text-4xl font-bold text-center sm:text-5xl sm:text-left text-slate-900 dark:text-white">
          We Boldy Go <span class="text-indigo-700 dark:text-indigo-300"> Where No Rocket </span> Has Gone Before..
        </h2>
        <p class="max-w-md text-2xl mt-4 text-center sm:text-center text-slate-700 dark:text-slate-400">
            We're Building Rockets for the next Century for today from Moon to Mars, Juipter and beyond...
        </p>
        <p class="max-w-md text-2xl mt-4 text-center sm:text-center text-slate-700 dark:text-slate-400">
          Think Acne Rockets
        </p>
      </article>
     <!-- In your template -->
    <img class="w-1/2 min-h-min" [src]="imagePath" alt="Rocket Dab">
    </section>
    
    <hr class="mx-auto bg-black dark:bg-white w-1/2 h-1">
    <section id="rockets" class="p-6 my-12 scroll-m-20">
      <h2 class="text 4xl font-bold text-center sm text-5xl mb-6 text-slate-900 dark:text-white">
        Our Rockets
      </h2>
      <ul class="list-none mx-auto my-12 flex flex-col sm:flex-row items-center gap-8">
        <li class="w-2/3 sm:w-5/6 flex flex-col items-center border border-solid dark:bg-black border-slate-800 dark:border-gray-100 bg-white py-6 px-2 rounded-3xl shadow-xl">
          <img [src]="starlordpath" alt="starLord" class="w-1/2 mb-6">
          <h3 class="text-3xl text-center text-slate-800 dark:text-white">
            Star Loard (Commander)
          </h3>
        </li>
        <li class="w-2/3 sm:w-5/6 flex flex-col items-center border border-solid border-slate-800 dark:border-gray-100 bg-white py-6 px-2 rounded-3xl shadow-xl">
          <img [src]="Rocketpath" alt="starLord" class="w-1/2 mb-6">
          <h3 class="text-3xl text-center text-slate-800 dark:text-white">
            Rocket (Technician)
          </h3>
        </li>
        <li class="w-2/3 sm:w-5/6 flex flex-col items-center border border-solid border-slate-800 dark:border-gray-100 bg-white py-6 px-2 rounded-3xl shadow-xl">
          <img [src]="Gamorapath" alt="starLord" class="w-1/2 mb-6">
          <h3 class="text-3xl text-center text-slate-800 dark:text-white">
            Gamora (Leady Worrior)
          </h3>
        </li>
      </ul>
    </section>
    <hr class="mx-auto bg-black dark:bg-white w-1/2 h-1">

    <section id="Testimonials" class="p-6 my-12 scroll-m-20">
      <h2 class="text 4xl font-bold text-center sm text-5xl mb-6 text-slate-900 dark:text-white">
        Our Testimonials
      </h2>
      <figure class="my-12">
        <blockquote class="bg-teal-600 dark:bg-black pl-14 pr-8 py-12 rounded-3xl relative">
          <p class="text-2xl sm:text-3xl text-left mt-2 text-white dark:text-slate-400 before:content-['\201C'] before:font-serif before:absolute before:top-0 before:left-0 before:text-9xl before:text-white before:opacity-25 before:transform before:translate-x-2 before:transalte-y-2 
          after:content-['\201D'] after:font-serif after:absolute after:-bottom-20 after:right-3 after:text-9xl after:text-white after:opacity-25 after:transform after:-translate--x-2 after:-transalte-y-2">
            Gardians of Galaxy is really a good team and they really save the Galaxy so many times.... these are really a good Gardians 
          </p>
         
        </blockquote>
        <figcaption class="italic text-xl sm:text-2xl text-right text-yellow-500 dark:text-yellow-400">
          &#8212; Wile E. Coyote, Genius
        </figcaption>
      </figure>
      <figure class="my-12">
        <blockquote class="bg-teal-600 dark:bg-black pl-14 pr-8 py-12 rounded-3xl relative">
          <p class="text-2xl sm:text-3xl text-left mt-2 text-white dark:text-slate-400 before:content-['\201C'] before:font-serif before:absolute before:top-0 before:left-0 before:text-9xl before:text-white before:opacity-25 before:transform before:translate-x-2 before:transalte-y-2 
          after:content-['\201D'] after:font-serif after:absolute after:-bottom-20 after:right-3 after:text-9xl after:text-white after:opacity-25 after:transform after:-translate--x-2 after:-transalte-y-2">
            Gardians of Galaxy is really a good team and they really save the Galaxy so many times.... these are really a good Gardians 
          </p>
         
        </blockquote>
        <figcaption class="italic text-xl sm:text-2xl text-right text-yellow-500 dark:text-yellow-400">
          &#8212; Wile E. Coyote, Genius
        </figcaption>
      </figure>
      <figure class="my-12">
        <blockquote class="bg-teal-600 dark:bg-black pl-14 pr-8 py-12 rounded-3xl relative">
          <p class="text-2xl sm:text-3xl text-left mt-2 text-white dark:text-slate-400 before:content-['\201C'] before:font-serif before:absolute before:top-0 before:left-0 before:text-9xl before:text-white before:opacity-25 before:transform before:translate-x-2 before:transalte-y-2 
          after:content-['\201D'] after:font-serif after:absolute after:-bottom-20 after:right-3 after:text-9xl after:text-white after:opacity-25 after:transform after:-translate--x-2 after:-transalte-y-2">
            Gardians of Galaxy is really a good team and they really save the Galaxy so many times.... these are really a good Gardians 
          </p>
         
        </blockquote>
        <figcaption class="italic text-xl sm:text-2xl text-right text-yellow-500 dark:text-yellow-400">
          &#8212; Wile E. Coyote, Genius
        </figcaption>
      </figure>
    </section>
    <hr class="mx-auto bg-black dark:bg-white w-1/2 h-1">

    <section id="ContactUs" class="p-6 my-12 scroll-m-16">
      <h2 class="text 4xl font-bold text-center sm text-5xl mb-6 text-slate-900 dark:text-white">
         Contact Us
      </h2>
      <form action="" class="max-w-4xl mx-auto text-2xl sm:text-3xl flex flex-col item-left gap-4">
        <label for="subject"> Subject </label>
        <input type="text" id="subject" name="subject" required minlength="3" maxlength="60" placeholder="Your Subject" class="w-full text-black text-2xl sm:text-3xl rounded-2xl p-3 border border-solid border-slate-900 dark:boarder-none" >
        <label for="Message"> Message </label>
        <textarea name="Message" id="message" cols="30" rows="10" class="w-full text-black text-2xl sm:text-3xl rounded-2xl p-3 border border-solid border-slate-900 dark:boarder-none"  placeholder="Your Message" required ></textarea>

<button class="bg-teal-600 hover:bg-teal-400 active:bg-orange-400 text-white p-3 w-48 rounded-xl border border-solid border-slate-900 dark:border-none"  > Submit </button>
      </form>
    </section>
  </main> 
  <footer class="bg-teal-700 text-white text-xl" id="footer">
    <section class="max-w-4xl mx-auto p-4 flex flex-col sm:flex-row sm:justify-between">
      <Address>
          <h2>The Gardians of Galaxy Inc.</h2>
          <br> Email: GardiansHelp@HelpDesk.Commander
          <br> Phone: 9999-9999-99 
      </Address>
      <nav class="hidden md:flex flex-col gap-2" aria-label="footer">
        <a href="#rockets" class="hover:opacity-60"> Our Rocket</a>
          <a href="#Testimonials" class="hover:opacity-60"> Testimonials</a>
          <a href="#ContactUs" class="hover:opacity-60"> Contact Us</a>
      </nav>
      <div class="flex flex-col sm:gap-2">
        <p class="text-right" > Copyright &copy; <span id="year">2023 </span></p>
        <p class="text-right">All rights reserved</p>
      </div>
    </section>
  </footer>
</div>

